<div class="container">
    <div class="accordion col-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <div class="accordion-body">
                <h5 class="text-center">Login</h5>
                <hr>
                <div class="row mb-4 mt-4 align-items-center">
                    <div class="col-3">
                        <label for="exampleInputEmail1" class="form-label mb-0">Username:</label>
                    </div>
                    <div class="col-6">
                        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="username">
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-3">
                        <label for="inputPassword6" class="form-label mb-0">Password:</label>
                    </div>
                    <div class="col-6">
                        <input type="password" class="form-control" id="inputPassword6" [(ngModel)]="password">
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn border border-secondary w-75 mt-4 mb-3" (click)="register()">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><div class="container">
    <div class="accordion col-4" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <div class="accordion-body">
          <h5 class="text-center">Login</h5>
          <hr>
          <div class="row mb-4 mt-4 align-items-center">
            <div class="col-3">
              <label for="exampleInputEmail1" class="form-label mb-0">Username:</label>
            </div>
            <div class="col-6">
              <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="username">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <div class="col-3">
              <label for="inputPassword6" class="form-label mb-0">Password:</label>
            </div>
            <div class="col-6">
              <input type="password" class="form-control" id="inputPassword6" [(ngModel)]="password">
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn border border-secondary w-75 mt-4 mb-3" (click)="register()">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
</div>